engine-logo {
    &-text {
        &-lt {
            left: 0;
            top: 0;
            
            margin: 20px 0vh 0vh 5px;

            animation: engine-logo-text-lt--anim 1s forwards;
        }

        &-lb {
            left: 0;
            bottom: 0;
            
            margin: 1vh;

            animation: engine-logo-text-lb--anim 1s forwards;
        }

        &-lt, &-lb {
            position: absolute;
    
            background: #000;
            border-radius: 1vh;
            box-shadow: 0 0 1vh darkgrey;
            display: inline;
            font-family: 'Montserrat';
            font-weight: bold;
            padding: 2.5px 10px 2.5px 10px;
            pointer-events: auto;
            transition: 0.15s;

            z-index: 99;

            &[ large ] {
                font-size: 60px;
            }
            
            &[ medium ] {
                font-size: 30px;
            }

            &[ small ] {
                font-size: 20px;
            }

            &:hover {
                padding: 2.5px 15px 2.5px 15px;

                cursor: pointer;

                & name {
                    color: turquoise; 
                }
        
                & version {
                    color: white;
                }
            }
        
            & name {
                display: inline;
                color: white;
                transition: 0.5s;
            }
        
            & version {
                display: inline;
                color: rgb( 100, 100, 100 );
                transition: 0.5s;
            }
        }
    }
}

@keyframes engine-logo-text-lt--anim {
    from {
        margin: 20px 0vh 0vh 5px;
        box-shadow: 0 0 0vh rgba( 0, 0, 0, 0.4 );
    } to {
        margin: 10px 0vh 0vh 10px;
        box-shadow: -5px 5px 5px rgba( 0, 0, 0, 0.4 );
    }
}

@keyframes engine-logo-text-lb--anim {
    from {
        margin: 0vh 0vh 1vh 1vh;
        box-shadow: 0 0 0vh rgba( 0, 0, 0, 0.4 );
    } to {
        margin: 0vh 0vh 2vh 2vh;
        box-shadow: -1vh 1vh 1vh rgba( 0, 0, 0, 0.4 );
    }
}