textbox {
    &-lt, &-rt, &-lb, &-rb {
        position: absolute;

        background-color: #1a1a1a;
        border-radius: 1vh;
        color: white;
        padding: 1vh;
        display: inline;
        font-family: 'Montserrat';
        font-weight: bold;
        padding: 10px;
        pointer-events: auto;
        transition: 0.15s;
        user-select: none;

        z-index: 99;

        &[ txt-large ] { font-size: 17px; }
        &[ txt-medium ] { font-size: 14px; }
        &[ txt-small ] { font-size: 12.5px; }

        &:hover {
            & txt {
                &-imp {
                    color: white;
                }
            }
        }

        & txt {
            &-fav, &-imp {
                display: inline;
                transition: 0.15s;
            }

            &-fav {
                color: magenta;
            }

            &-imp { 
                color: turquoise;
            }
        }
    }

    &-lt, &-lb {
        box-shadow: -5px 5px 5px rgba( 0, 0, 0, 0.4 );
    }

    &-rt, &-rb {
        box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.4 );
    }
}