tab-rt#planets {
    width: 300px;
    height: 535px;

    margin: 10px;

    z-index: 100;

    & header {
        color: white;
        font-family: 'Montserrat';
    }

    & scrollbox {
        & item {
            & span {
                color: white;
                font-family: 'Montserrat';
            }
        }
    }
}

tab-rb#planets-map {
    width: 325px;
    height: 360px;

    margin: 10px;

    z-index: 100;

    & header {
        color: white;
        font-family: 'Montserrat';
    }

    & minimap {
        position: absolute;
        right: 0;
        bottom: 0;

        width: calc( 100% - 20px );
        height: calc( 100% - 55px );

        margin: 10px;

        background-color: rgba( black, 0.7 );
        border-radius: 5px;
        overflow: hidden;
    }
}

map-planet {
    position: absolute;
    left: 0;
    top: 0;

    width: 32px;
    height: 32px;

    background-image: url( '../../../../assets/icons/planet.64.png' );
    background-position: center;
    background-size: 32px 32px;
    opacity: 0.75;
    transform: translate( -50%, -50% );
    transition: 0.15s;

    animation: 0.15s bounce-scale-back forwards;

    &:hover {
        opacity: 1;

        animation: 1s bounce-scale-forward forwards;
    }
}

@keyframes bounce-scale-forward {
  	0% { transform: translate( -50%, -50% ) scale3d( 1, 1, 1 ); }
  	20% { transform: translate( -50%, -50% ) scale3d( 1.375, 1.375, 1 ); }
  	40% { transform: translate( -50%, -50% ) scale3d( 1.225, 1.225, 1 ); }
  	60% { transform: translate( -50%, -50% ) scale3d( 1.3125, 1.3125, 1); }
  	80% { transform: translate( -50%, -50% ) scale3d( 1.2625, 1.2625, 1); }
  	100% { transform: translate( -50%, -50% ) scale3d( 1.25, 1.25, 1); }
}

@keyframes bounce-scale-back {
    0% { transform: translate( -50%, -50% ) scale3d( 1.25, 1.25, 1 ); }
    100% { transform: translate( -50%, -50% ) scale3d( 1, 1, 1); }
}