@import url( 'https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@500&display=swap' );

background {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    pointer-events: auto;
    
    z-index: 99;
}

button {
    &-lt, &-rt, &-lb, &-rb {
        position: absolute;

        height: 2vh;
        
        background-color: #0f334d;
        border-radius: 0.5vh;
        box-shadow: 0 0 1vh black, inset 0 0 1vh black;
        color: white;
        font-family: 'EB Garamond';
        font-size: 1.5vh;
        font-weight: bold;
        letter-spacing: 0.15vh;
        padding: 0.5vh 1vh 0.5vh 1vh;
        text-align: center;
        text-shadow: 0 0 1vh black;
        transition: 0.25s;

        &[ large ] {
            height: 3vh;

            font-size: 2vh;
        }

        &[ wood-metal ] {
            border: 0.5vh rgb( 180, 180, 180 ) ridge;
        }

        &[ wood-gold ] {
            border: 0.5vh goldenrod ridge;
        }

        &:hover {
            box-shadow: 0 0 1vh black, inset 0 0 1vh white;
            text-shadow: 0 0 1vh white;

            transform: scale( 1.05 );
        }
    }

    &-lt { left: 0; top: 0; }
    &-rt { right: 0; top: 0; }
    &-lb { left: 0; bottom: 0; }
    &-rb { right: 0; bottom: 0; }
}

header {
    &-lt, &-rt {
        position: absolute;

        width: calc( 100% - 2vh );
        height: 2vh;

        margin: 1vh 0vh 0vh 0vh;

        background-color: rgba( 0, 0, 0, 0.7 );
        box-shadow: 0 0 1vh black, inset 0 0 1vh black;
        color: white;
        font-family: 'EB Garamond';
        font-size: 1.5vh;
        font-weight: bold;
        letter-spacing: 0.15vh;
        padding: 0.5vh 1vh 0.5vh 1vh;
        text-align: center;
        text-shadow: 0 0 1vh black;

        &[ large ] {
            height: 3vh;

            font-size: 2vh;
        }

        &[ ribbon-blue ], &[ ribbon-green ], &[ ribbon-red ] {
            background-size: 3vh 3vh;
            background-repeat: repeat-x;

            &[ large ] {
                background-size: 4vh 4vh;
            }
        }

        &[ ribbon-blue ] {
            background-image: url( '../assets/interface/ribbon.blue.tileable.svg' );
        }

        &[ ribbon-green ] {
            background-image: url( '../assets/interface/ribbon.green.tileable.svg' );
        }

        &[ ribbon-red ] {
            background-image: url( '../assets/interface/ribbon.red.tileable.svg' );
        }
    }

    &-lt { left: 0; top: 0; }
    &-rt { right: 0; top: 0; }
}

interface {
    &-lt, &-rt, &-lb, &-rb {
        position: absolute;

        background-color: rgba( 0, 0, 0, 0.7 );
        border-radius: 0.5vh;
        box-shadow: 0 0 1vh black, inset 0 0 1vh black;

        pointer-events: auto;

        z-index: 11;
        
        &[ wood-metal ] {
            background-image: url( '../assets/interface/wood.plank.doubled.jpg' );
            background-size: 20vh;
            background-repeat: repeat;
            border: 0.5vh rgb( 180, 180, 180 ) ridge;
        }

        &[ wood-gold ] {
            background-image: url( '../assets/interface/wood.plank.doubled.jpg' );
            background-size: 20vh;
            background-repeat: repeat;
            border: 0.5vh goldenrod ridge;
        }
    }

    &-lt { left: 0; top: 0; }
    &-rt { right: 0; top: 0; }
    &-lb { left: 0; bottom: 0; }
    &-rb { right: 0; bottom: 0; }
}

leaflet {
    width: 100%;
    height: 3vh;

    background-color: rgba( 0, 0, 0, 0.7 );
    // box-shadow: inset 0 0 1vh black;

    &[ fixed ] {
        position: absolute;
        left: 0;
        top: 0;

        & label {
            position: absolute;
            left: 0;
            top: 0;

            width: auto;
            height: 2vh;

            color: white;
            font-family: 'EB Garamond';
            font-size: 1.5vh;
            font-weight: bold;
            letter-spacing: 0.15vh;
            padding: 0.5vh 1vh 0.5vh 1vh;
            text-align: center;
            text-shadow: 0 0 1vh black;

            &[ check ] {
                margin-left: 3vh;
            }

            
        }

        &[ locked-f ], &[ locked-nr ], &[ locked-nav ], &[ locked-nap ] {
            filter: grayscale( 0.5 );

            & label {
                color: grey;
            }

            & input {
                &[ type='checkbox' ] {
                    opacity: 0.5;
                }

                &[ type='range' ] {
                    opacity: 0.5;
                }
            }
        }

        & input {
            &[ type='checkbox' ] {
                position: absolute;
                left: 0;
                top: 0;
                
                width: 2vh;
                height: 2vh;

                margin: 0.5vh 0vh 0vh 1vh;

                box-shadow: 0 0 1vh black, inset 0 0 1vh black;
            }

            &[ type='range' ] {
                position: absolute;
                right: 0;
                top: 0;

                width: calc( 50% - 1vh );
                height: 0.5vh;

                margin: 1.25vh 1vh 0vh 0vh;

                appearance: none;
                background-color: #6a4d00;
                border-radius: 0.25vh;
                box-shadow: 0 0 1vh black, inset 0 0 0.1vh black;
                outline: none;
                transition: 0.25s;

                &[ images ] {
                    width: calc( 50% - 6.5vh );

                    margin-right: 3.5vh;
                }

                &::-webkit-slider-thumb {
                    width: 1.5vh;
                    height: 1.5vh;

                    appearance: none;
                    background-image: url( '../assets/interface/slider.thumb.wood-gold.svg' );
                    background-size: 1.5vh 1.5vh;
                    border-radius: 0.75vh;
                    transition: 0.25s;
                }

                &:hover {
                    background-color: #606060;

                    &::-webkit-slider-thumb {
                        background-image: url( '../assets/interface/slider.thumb.wood-metal.svg' );
                    }
                }
            }
        }

        & input-image {
            position: absolute;

            width: 3vh;
            height: 3vh;

            background-color: transparent;
            background-image: none;
            background-position: center;
            background-size: 150% 150%;
            background-repeat: no-repeat;

            &[ f ] {
                left: 0;
                top: 0;

                margin: 0vh 0vh 0vh 50%;
            }

            &[ l ] {
                right: 0;
                top: 0;

                margin: 0vh 0.5vh 0vh 0vh;
            }
        }
    }

    &[ f ] {
        background-color: rgba( 0, 0, 0, 0.7 );
    }

    &[ s ] {
        background-color: rgba( 0, 0, 0, 0.5 );
    }

    &:hover {
        z-index: 12;
    }
}

loader {
    &-lt, &-rt, &-lb, &-rb {
        position: absolute;

        width: 70vh;
        height: 3vh;

        margin: 50vh 0vh 0vh 50vw;

        background-color: rgba( 0, 0, 0, 0.7 );
        border-radius: 0.5vh;
        border: 0.5vh rgb( 180, 180, 180 ) ridge;
        box-shadow: 0 0 1vh black, inset 0 0 1vh black;

        z-index: 100;

        & bar {
            position: absolute;
            left: 0;
            top: 0;

            width: 0%;
            height: 100%;

            background-color: turquoise;
            box-shadow: inset 0 0 1vh black;
            transition: 0.5s;
        }

        & text {
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;

            background-color: transparent;
            color: white;
            font-family: 'EB Garamond';
            font-size: 2vh;
            font-weight: bold;
            letter-spacing: 0.15vh;
            padding-top: 0vh;
            text-align: center;
            text-shadow: 0 0 1vh black;
        }
    }

    &-lt { left: 0; top: 0; }
    &-rt { right: 0; top: 0; }
    
    &-lb { 
        left: 0; 
        bottom: 0; 

        margin: 0vh 0vh 3vh 50vw;

        transform: translate( -50%, 0% );
    }

    &-rb { 
        right: 0; 
        bottom: 0; 

        margin: 0vh 50vw 3vh 0vh;

        transform: translate( -50%, 0% );
    }
}

state {
    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;
    display: none;

    pointer-events: none;
}

[ locked-f ], [ locked-nr ], [ locked-nav ], [ locked-nap ] {
    filter: grayscale( 1 );
}