$header-top: 5vh;

state#macromap-generation {
    & interface-lt#macromap-generation-panel {
        width: 43vh;
        height: 84vh;

        margin: 1vh 0vh 0vh 0vh;

        border-radius: 0vh 0.5vh 0.5vh 0vh;
        border-left: none;

        & header-lt#biome-presets {
            margin-top: 14vh;
        }

        & header-lt#biome-trees {
            margin-top: 44vh;
        }

        & header-lt#options {
            margin-top: 74vh;
        }

        & leaflet#size {
            margin-top: $header-top;
            
            & input-image[ f ] {
                background-image: url( '../assets/interface/map.100.large.green.svg' );
            }

            & input-image[ l ] {
                background-image: url( '../assets/interface/map.1000.large.green.svg' );
            }
        }

        & leaflet#elevation {
            margin-top: 8vh;

            & input-image[ f ] {
                background-image: url( '../assets/interface/waves.blue.svg' );
            }

            & input-image[ l ] {
                background-image: url( '../assets/interface/mountain.brown.svg' );
            }
        }

        & leaflet#fractal {
            margin-top: 11vh;
        }

        /* biome presets */
        & leaflet[ preset='0' ] {
            margin-top: 17vh;
        }

        & leaflet[ preset='1' ] {
            margin-top: 20vh;
        }

        & leaflet[ preset='2' ] {
            margin-top: 23vh;
        }

        & leaflet[ preset='3' ] {
            margin-top: 26vh;
        }

        & leaflet[ preset='4' ] {
            margin-top: 29vh;
        }

        & leaflet[ preset='5' ] {
            margin-top: 32vh;
        }

        & leaflet[ preset='6' ] {
            margin-top: 35vh;
        }

        & leaflet[ preset='7' ] {
            margin-top: 38vh;
        }

        & leaflet[ preset='8' ] {
            margin-top: 41vh;
        }

        /* biome trees */
        & leaflet[ biome='0' ] {
            margin-top: 47vh;
        }

        & leaflet[ biome='1' ] {
            margin-top: 50vh;
        }

        & leaflet[ biome='2' ] {
            margin-top: 53vh;
        }

        & leaflet[ biome='3' ] {
            margin-top: 56vh;
        }

        & leaflet[ biome='4' ] {
            margin-top: 59vh;
        }

        & leaflet[ biome='5' ] {
            margin-top: 62vh;
        }

        & leaflet[ biome='6' ] {
            margin-top: 65vh;
        }

        & leaflet[ biome='7' ] {
            margin-top: 68vh;
        }

        & leaflet[ biome='8' ] {
            margin-top: 71vh;
        }

        /* major buttons */ 

        & button-lb#accept, button-lb#regenerate, button-lb#reset {
            width: 10vh;
        }

        & button-lb#accept {
            margin: 0vh 0vh 1vh 1vh;

            background-color: darkgreen;
        }

        & button-lb#regenerate {
            margin: 0vh 0vh 1vh 15vh;
        }

        & button-lb#reset {
            margin: 0vh 0vh 1vh 29vh;
        }
    }
}